* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
li {
    list-style-type: none;;
}

#navbar {
    width: 150px;
    height: 935px;
    background-color: #191718;
    color: #FFFFFF;
    position: fixed;
}

#navbar li{
    padding: 15px;
    border-bottom: 0.2px solid #FFFFFF;
}

#navbar li:hover {
    background-color: #5C5C5C;
    cursor: pointer;
}


#logo {
    
}

#banner {
    background-color: #EFEFEF;

}
#main {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

#right-area {
    width: 900px;
    margin: 0 auto;
}

#right-area__logo svg {
    margin: 10px 33%;
}
#banner .banner-header {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

#banner .banner-content {
    padding: 0 17% 20px;
}

#main img {
    width: 128px;
    height: 128px;
    float: left;
    margin-right: 12px;;
}

#main .group {
    width: 32%;
}

.group .main__header {
    font-weight: bold;
    margin-bottom: 18px;
}

#main img::after {
    content: '';
    clear: both;
}
#footer {
    width: 900px;
    margin: 0 auto;
}

.separate-line {
    border-top: 1px solid #DEDEDE;
    margin-top: 183px;
}
#footer .copyright-text {
    padding: 30px 0;
}

